<script type="text/javascript" src="http://api.map.baidu.com/api?v=2.0&ak=fulYyTzPOK6ag6vksDMWdCf9"></script>

<div id="allmap"></div>
<p><%= link_to "hhsdf","/energy_project/info" %></p>

<p><%= image_tag "coalpower.png" %></p>
<p><% longitude = @testid['longitude'] %></p>
<p><%= longitude %></p>
