<h2>this is the test checkbox</h2>
<form name="test" id="info_form">
	<fieldset>
		<ul>
			<% @checkbox_labels.each do |power| %>
				<li> <input type="checkbox" checked=true> <%= power %> </li>
			<% end %>
		<ul>
		<input type="submit" value="提交">
	</fieldset>
</form>
<% @projects.each do |p| %>
<p><%= p.title %></p>
<% end %>

<%= link_to 'energy_project','/energy_project/index' %>
