<script type="text/javascript">
  $(document).ready( function() {

    $("#js1").click( function(){
      $.getScript("/test_format");
    });

    $("#js2").click( function(){
      $.ajax({
        dataType: "script",
        url: "/test_format"
      });
    });

    $("#json1").bind(
      "ajax:success", function(event,json){ alert(json.text); }
    );

    $("#json2").click( function(){
      $.ajax({
        dataType: "json",
        url: "/test_pages/test_format",
        success: function(json){
          alert(json.text);
        }
      });
    });

    $("#json3").click( function() {
      $.getJSON("/test_pages/test_format",function(json){ alert(json.text);});
    });
  });
</script>
<%= link_to 'js3', "/test_pages/test_format", :remote => true, "data-type" => 'script' %>
<%= link_to 'json1', "/test_pages/test_format", id: "json1", :remote => true, "data-type" => 'json' %>


<button id="js1">js1</button>
<button id="js2">js2</button>
<button id="json2">json2</button>
<button id="json3">json3</button>

<div id="will_change"></div>